version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=attendance
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./django
      dockerfile: Dockerfile
    volumes:
      - ./django:/app
      - /app/.venv
    environment:
      - DEBUG=True
      - SECRET_KEY=NishanthKJ
      - DATABASE_URL=postgres://postgres:postgres@db:5432/attendance
      - ALLOWED_HOSTS=localhost,backend,127.0.0.1
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./react-app
      dockerfile: Dockerfile
    volumes:
      - ./react-app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  postgres_data:
